<h2>{{'pages.schedule.schedule-step.select-day' | translate}}</h2>
<form [formGroup]="form()">
  @if(scheduleStep$().serviceWorkerId) {
    <bv-calendar formControlName="date" [availableDates]="availableDates$()" #calendar></bv-calendar>
  }
</form>

<h2>{{'pages.schedule.schedule-step.select-time' | translate}}</h2>
@defer (when isLoading) {
  @if(times$().length) {
    <div class="buttons">
      @for (item of times$(); track $index) {
        <button bv (click)="selectTime(item.date)" [theme]="item.theme">{{item.date | date: 'HH:mm'}}</button>
      }
    </div>
  } @else {
    <p>{{'pages.schedule.schedule-step.select-time-placeholder' | translate}}</p>
  }
} 
@placeholder {
  <p>{{'pages.schedule.schedule-step.select-time-placeholder' | translate}}</p>
}
@loading (minimum 200ms) {
  <div class="loading-card phantom"></div>
}