@use './button-base';

:host {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  &.icon-button {
    @include button-base.icon-size;
  }
  
  &.mini-icon-button {
    @include button-base.mini-icon-size;
  }
}