<h2 class="title">{{'pages.manage-services.current-services' | translate}}</h2>
@defer (when !isLoading) {
  @for (item of services$(); track $index) {
    <bv-card class="card-service">
      <h4 card-header>{{item.name}}</h4>
      <ng-content card-body>
        <p>{{item.description}}</p>
        <p>{{'price' | translate}}: {{item.price | currency : 'BRL'}}</p>
        <p>{{'duration (minutes)' | translate}}: {{item.duration}}</p>
      </ng-content>
      <button bv-icon type="button" theme="danger" (click)="delete(item.id)">
        <bv-icon icon="delete"></bv-icon>
      </button>
    </bv-card>
  }
  @empty {
    <app-empty-message>{{'pages.manage-services.empty-list' | translate}}</app-empty-message>
  }
}
@placeholder (minimum 200ms) {
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
}