:host {
    position: relative;
    width: 100%;
    border-radius: .5rem;
}

.card-header {
    position: relative;
    display: flex;
    align-items: start;
    padding: .5rem 1rem;
}
.card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
}
.card-footer {
    position: relative;
    display: flex;
    justify-content: end;
    gap: .5rem;
    padding: .5rem 1rem;
}