<h2>{{'pages.manage-workers.current-workers' | translate}}</h2>

@defer (when !isLoading) {
  @for (worker of workers$(); track $index) {
    <app-worker-card [worker]="worker" (update)="refreshList()"></app-worker-card>
  }
  @empty {
    <app-empty-message>{{'pages.manage-workers.empty-list' | translate}}</app-empty-message>
  }
}
@placeholder (minimum 200ms) {
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
}
