:host {
  &.calendar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: -webkit-fill-available;
    min-height: -webkit-fill-available;
    padding: 1rem;
    border-radius: .5rem;
  }
}

@mixin get-theme($theme) {
  $primary: map-get($theme, primary);
  $secondary: map-get($theme, secondary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  .calendar {
    background-color: map-get($background, card);
    .days {
      .day {
        background-color: map-get($primary, lighter);
        &--current-month {
          background-color: map-get($primary, darker);
        }
        &--unavailable { 
          background-color: map-get($background, disabled);
        }
        &--selected {
          background-color: map-get($secondary, darker);
        }
        &--disabled {
          background-color: map-get($background, disabled);
        }
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .label-day {
    flex-basis: calc(100% / 7);
    text-align: center;
  }
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: .25rem;
  align-items: center;
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100% / 7 - .25rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    &:not(.day--unavailable) {
      cursor: pointer;
    }
  }
}