<bv-stepper #stepper>
  <bv-step label="user">
    <form [formGroup]="form.firstStep">
      <bv-form-field controlName="user">
        <label for="user">{{ 'shared.primitive-entity.login' | translate }}</label>
        <input type="text" id="user" formControlName="user" [placeholder]="'shared.primitive-entity.login' | translate">
      </bv-form-field>
    </form>
  </bv-step>
  <bv-step label="code">
    <form [formGroup]="form.secondStep">
      <bv-form-field controlName="code">
        <label for="code">{{ 'pages.forgot-password.code' | translate }}</label>
        <input type="text" id="code" formControlName="code" [placeholder]="'pages.forgot-password.code' | translate">
      </bv-form-field>
    </form>
  </bv-step>
  <bv-step label="update">
    <form [formGroup]="form.thirdStep">
      <bv-form-field controlName="password">
        <label for="password">{{ 'shared.primitive-entity.new-password' | translate }}</label>
        <input type="text" id="password" formControlName="password" [placeholder]="'shared.primitive-entity.new-password' | translate">
      </bv-form-field>
      <bv-form-field controlName="confirm-password">
        <label for="confirm-password">{{ 'shared.primitive-entity.confirm-password' | translate }}</label>
        <input type="text" id="confirm-password" formControlName="confirm-password" [placeholder]="'shared.primitive-entity.confirm-password' | translate">
      </bv-form-field>
    </form>
  </bv-step>
  <button bv (click)="checkNext()" [disabled]="checkStep() || loading()">{{ 'shared.actions.' + (stepper.currentIndex() === 2 ? 'submit' : 'next') | translate }}</button>
</bv-stepper>