<h2>{{'pages.schedule.service-step.service-select' | translate}}</h2>
<form [formGroup]="form()">
  @if(loaded){
    @for (item of services$(); track $index) {
      <bv-form-field controlName="services" type="check">
        <input type="checkbox" [id]="'services-'+$index" [formControlName]="item.id" [value]="item.id">
        <label [for]="'services-'+$index">{{item.name}} - {{item.price | currency: 'BRL'}}</label>
      </bv-form-field>
      <!-- <div class="description">
        <span>{{item.description}}</span>
      </div> -->
    }
  }
</form>