@use './my-panel-filter/my-panel-filter.component.scss' as filter;
@use './my-panel-list/my-panel-list.component.scss' as list;

.pills {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  row-gap: .25rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin get-theme($theme) {
  @include filter.get-theme($theme);
  @include list.get-theme($theme);
}