<bv-stepper #stepper>
  <bv-step [label]="'pages.register.steps.personal' | translate">
    <form [formGroup]="form.person">
      <bv-form-field controlName="phone">
        <label for="phone">{{ 'shared.primitive-entity.phone' | translate }}</label>
        <input type="tel" id="phone" formControlName="phone" mask="(00) 00000 0000||(00) 0000 0000" [placeholder]="'shared.primitive-entity.phone' | translate">
      </bv-form-field>
      <bv-form-field controlName="birthday">
        <label for="birthday">{{ 'shared.primitive-entity.birthday' | translate }}</label>
        <input type="date" id="birthday" formControlName="birthday">
      </bv-form-field>
      <bv-form-field controlName="gender">
        <label for="gender">{{ 'pages.register.gender' | translate }}</label>
        <bv-select id="gender" formControlName="gender" [placeholder]="'pages.register.gender' | translate">
          <bv-select-option [value]="Gender.Male" [display]="'pages.register.gender-male' | translate"></bv-select-option>
          <bv-select-option [value]="Gender.Female" [display]="'pages.register.gender-female' | translate"></bv-select-option>
          <bv-select-option [value]="Gender.Unknown" [display]="'pages.register.gender-unknown' | translate"></bv-select-option>
        </bv-select>
      </bv-form-field>
    </form>
  </bv-step>
  <bv-step [label]="'pages.register.steps.account' | translate">
    <form [formGroup]="form.user">
      <bv-form-field controlName="login">
        <label for="login">{{ 'shared.primitive-entity.login' | translate }}</label>
        <input type="text" id="login" formControlName="login" [placeholder]="'shared.primitive-entity.login' | translate">
      </bv-form-field>
      <bv-form-field controlName="password">
        <label for="password">{{ 'shared.primitive-entity.password' | translate }}</label>
        <input type="password" id="password" formControlName="password" [placeholder]="'shared.primitive-entity.password' | translate">
      </bv-form-field>
      <bv-form-field controlName="confirm-password">
        <label for="confirm-password">{{ 'shared.primitive-entity.confirm-password' | translate }}</label>
        <input type="password" id="confirm-password" formControlName="confirm-password" [placeholder]="'shared.primitive-entity.confirm-password' | translate">
      </bv-form-field>
    </form>
  </bv-step>
  <bv-step [label]="'pages.register.steps.terms' | translate">
    <form [formGroup]="form.terms">
      <bv-form-field controlName="terms" type="check">
        <label for="terms">{{ 'pages.register.terms' | translate }}</label>
        <input type="checkbox" id="terms" formControlName="terms">
      </bv-form-field>
      <bv-form-field controlName="privacy" type="check">
        <label for="privacy">{{ 'pages.register.privacy' | translate }}</label>
        <input type="checkbox" id="privacy" formControlName="privacy">
      </bv-form-field>
    </form>
  </bv-step>

  <button bv [disabled]="checkDisabled()" (click)="submit()">{{'shared.actions.' + (stepper.currentIndex() === 2 ? 'submit' : 'next') | translate}}</button>
</bv-stepper>