@defer (when !isLoading) {
  @for (group of groupedAppointments$(); track $index) {
    <h2 class="subtitle-3 day-indicator">{{group.date | date: 'dd MMMM'}}</h2>
    @for (appointment of group.appointments; track $index) {
      <bv-card accordion [opened]="false" [theme]="getTheme(appointment.end)">
        <h2 card-header>{{appointment.name}}</h2>
        <span card-header>{{getDate(appointment.start) | date: 'HH:mm'}}</span>
        <ng-container card-body>
          @for (service of appointment.services; track $index) {
            <p>{{service.name}} - {{service.price / 100 | currency: 'BRL'}}</p>
          }
        </ng-container>
        @if(appointment.phone) {
          <button bv-icon (click)="openWhatsapp(appointment.phone)">
            <bv-icon icon="whatsapp"></bv-icon>
          </button>
        }
      </bv-card>
    }
  }
  @empty {
    <app-empty-message>{{'pages.my-panel.no-appointments' | translate}}</app-empty-message>
  }
}
@placeholder (minimum 200ms) {
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
  <div class="card-loading phantom"></div>
}