<h1>{{ 'pages.login.title' | translate }}</h1>

<form [formGroup]="form" (submit)="test()">
  <form-field controlName="login">
    <label for="login">{{ 'pages.login.login' | translate }}</label>
    <input type="text" id="login" formControlName="login" [placeholder]="'pages.login.login' | translate" autocomplete="off">
  </form-field>
  <form-field controlName="password">
    <label for="password">{{ 'pages.login.password' | translate }}</label>
    <input custom type="password" id="password" formControlName="password" [placeholder]="'pages.login.password' | translate" autocomplete="new-password">
  </form-field>
  <button custom-button type="submit" [disabled]="form.invalid || loading()" theme="primary">
    {{ 'pages.login.enter' | translate }}
  </button>
</form>

<div class="messages">
  <p class="register-message">
    <span class="register-message-question">{{'pages.login.not-registered-yet' | translate}}</span>
    <a routerLink="/register" routerLinkActive="router-link-active" custom-link>{{'pages.login.register-click' | translate}}</a>
  </p>
  <p class="forgot-password-message">
    <span class="register-message-question">{{'pages.login.did-you-forget-your-password' | translate}}</span>
    <a routerLink="/forgot-password" routerLinkActive="router-link-active" custom-link>{{ 'pages.login.forgot-password-click' | translate }}</a>
  </p>
</div>