<form [formGroup]="form()">
  <bv-form-field controlName="zip-code">
    <label for="zip-code">{{ 'shared.primitive-entity.zip-code' | translate }}</label>
    <input type="text" id="zip-code" formControlName="zip-code" mask="99999-999"
      [placeholder]="'shared.primitive-entity.zip-code' | translate" autocomplete="off"/>
  </bv-form-field>
  <bv-form-field controlName="street">
    <label for="street">{{ 'shared.primitive-entity.street' | translate }}</label>
    <input type="text" id="street" formControlName="street" [placeholder]="'shared.primitive-entity.street' | translate"/>
  </bv-form-field>
  <bv-form-field controlName="number">
    <label for="number">{{ 'shared.primitive-entity.number' | translate }}</label>
    <input type="tel" id="number" formControlName="number" mask="999999"
      [placeholder]="'shared.primitive-entity.number' | translate" autocomplete="off"/>
  </bv-form-field>
  <bv-form-field controlName="neighborhood">
    <label for="neighborhood">{{ 'shared.primitive-entity.neighborhood' | translate }}</label>
    <input type="text" id="neighborhood" formControlName="neighborhood" [placeholder]="'shared.primitive-entity.neighborhood' | translate"/>
  </bv-form-field>
  <bv-form-field controlName="city">
    <label for="city">{{ 'shared.primitive-entity.city' | translate }}</label>
    <input type="text" id="city" formControlName="city" [placeholder]="'shared.primitive-entity.city' | translate"/>
  </bv-form-field>
  <bv-form-field controlName="state">
    <label for="state">{{ 'shared.primitive-entity.state' | translate }}</label>
    <input type="text" id="state" formControlName="state" [placeholder]="'shared.primitive-entity.state' | translate"/>
  </bv-form-field>
  <bv-form-field controlName="country">
    <label for="country">{{ 'shared.primitive-entity.country' | translate }}</label>
    <input type="text" id="country" formControlName="country" [placeholder]="'shared.primitive-entity.country' | translate"/>
  </bv-form-field>
</form>