<header class="main-header sm-shadow">
  <a routerLink="/">
    <img src="assets/icon.png" alt="image logo">
  </a>
  @if (isAuthenticated$()) {
    <div class="main-header-user">
      <span class="main-header-name">{{sessionUser$().profile.name}}</span>
      <button bv (click)="logout()">{{'header.buttons.logout' | translate}}</button>
    </div>
  }
  @else {
    <div class="main-header-actions">
      <button bv routerLink="/login">{{'header.buttons.enter' | translate}}</button>
    </div>
  }
</header>

<main>
  <div class="main-content">
    @if (showContentHeader$()) {
      <div class="main-content__header">
        @if (showBackButton$()) {
          <button bv-icon (click)="goBack()">
            <bv-icon icon="back"></bv-icon>
          </button>
        }
        <h1>{{ title$() }}</h1>
      </div>
    }
    <router-outlet></router-outlet>  
  </div>
  <footer class="main-footer">
    <hr class="main-footer-separator">
    <div class="footer-box">
      <a routerLink="/contact" bv-link>{{'footer.links.contact' | translate}}</a>
      <a routerLink="/about" bv-link>{{'footer.links.about' | translate}}</a>
      <a routerLink="/terms" bv-link>{{'footer.links.terms' | translate}}</a>
      <a routerLink="/privacy" bv-link>{{'footer.links.privacy' | translate}}</a>
    </div>
    <p>© {{currentYear}} {{ 'footer.project-name' | translate }}</p>
  </footer>
</main>