<form [formGroup]="form()">
  <bv-form-field controlName="name">
    <label for="name">{{'shared.primitive-entity.name' | translate}}</label>
    <input type="text" id="name" formControlName="name" [placeholder]="'shared.primitive-entity.name' | translate">
  </bv-form-field>
  <bv-form-field controlName="email">
    <label for="email">{{'shared.primitive-entity.email' | translate}}</label>
    <input type="email" id="email" formControlName="email" [placeholder]="'shared.primitive-entity.email' | translate">
  </bv-form-field>
  <bv-form-field controlName="phone">
    <label for="phone">{{'shared.primitive-entity.phone' | translate}}</label>
    <input type="tel" id="phone" formControlName="phone" [placeholder]="'shared.primitive-entity.phone' | translate">
  </bv-form-field>
</form>