:host {
  padding: .5rem;
  cursor: pointer;
  border-radius: 4px;
}

@mixin get-theme($theme) {
  $background: map-get($theme, background);
  .select-option {
    background: transparent;
    &:hover {
      background: map-get($background, hover);
    }
  }
}