<h2>{{'pages.schedule.confirm-step.title' | translate}}</h2>

@if(form().serviceStep.valid) {
  <h3>{{'pages.schedule.confirm-step.services' | translate}}</h3>
  <p class="line">{{'pages.schedule.confirm-step.worker' | translate}}: {{worker$()}}</p>
  <ul>
    @for (item of services$(); track $index) {
      <li><span class="line">{{ item.name }} - {{ item.price | currency: 'BRL' }}</span></li>
    }
  </ul>
}

@if(form().scheduleStep.valid) {
  <h3>{{'pages.schedule.confirm-step.schedule' | translate}}</h3>
  <ul>
    <li><span class="line">{{form().scheduleStep.date.value | date: 'dd/MM/YYYY'}} {{'pages.schedule.confirm-step.from' | translate}} {{form().scheduleStep.start.value | date: 'HH:mm'}} {{'pages.schedule.confirm-step.to' | translate}} {{form().scheduleStep.end.value | date: 'HH:mm'}}</span></li>
  </ul>
}

@if(form().personalStep.valid) {
  <h3>{{'pages.schedule.confirm-step.personal-information' | translate}}</h3>
  <ul>
    <li><span class="line">{{'shared.primitive-entity.name' | translate}}: {{form().personalStep.name.value}}</span></li>
    <li><span class="line">{{'shared.primitive-entity.email' | translate}}: {{form().personalStep.email.value}}</span></li>
    <li><span class="line">{{'shared.primitive-entity.phone' | translate}}: {{form().personalStep.phone.value}}</span></li>
  </ul>
}

@if(form().serviceStep.valid){
  <hr>
  <p>{{'pages.schedule.confirm-step.total' | translate}}: {{total$() | currency: 'BRL'}}</p>
  <p>{{'pages.schedule.confirm-step.payments-information' | translate}}</p>
}