@use './palettes/gray' as gray-palette;

$light: map-get(gray-palette.$palette, 20);
$normal: map-get(gray-palette.$palette, 40);
$dark: map-get(gray-palette.$palette, 60);

@mixin phantom {
  background: linear-gradient(to right, $normal, $normal, $light, $normal);
  animation: gradient 0.7s infinite;
  color: transparent;
}

@keyframes gradient {
  0% {
      background: linear-gradient(to right, $normal, $normal, $light, $normal);
  }

  20% {
      background: linear-gradient(to right, $dark, $normal, $normal, $light);
  }

  40% {
      background: linear-gradient(to right, $normal, $dark, $normal, $normal);
  }

  60% {
      background: linear-gradient(to right, $normal, $normal, $dark, $normal);
  }

  80% {
      background: linear-gradient(to right, $light, $normal, $normal, $dark);
  }

  100% {
      background: linear-gradient(to right, $normal, $light, $normal, $normal);
  }
}